*xcodeproj/*
!*xcodeproj/project.pbxproj
!*xcworkspace/contents.xcworkspacedata
.DS_Store
/*.xmind
*UserInterfaceState.xcuserstate
/*.asta
/*.asta.lock
*.mp4
masamon/images/thumbnail1.png
masamon/images/thumbnail2.png
アイコン素材/
masamon/*.pdf
!sampleshift.pdf
!sampleshift.xlsx
masamon/Pods/*
