*xcodeproj/*
!*xcodeproj/project.pbxproj
!*xcworkspace/contents.xcworkspacedata
.DS_Store
*UserInterfaceState.xcuserstate

icon/
masamon/*.pdf
!sampleshift.pdf
!sampleshift.xlsx
masamon/Pods/*
release/
Maintenance.swift