*xcodeproj/*
!*xcodeproj/project.pbxproj
!*xcworkspace/contents.xcworkspacedata
.DS_Store
/*.xmind
*UserInterfaceState.xcuserstate
/*.asta
/*.asta.lock
アイコン素材/
masamon/*.pdf
!sampleshift.pdf
!sampleshift.xlsx
masamon/Pods/*
release/
Maintenance.swift